*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/*Formatacao de Fonte*/

h1, h2, h3, h4, h5{
    font-family: 'Playfair Display', serif;
   
}

ul li{
    list-style: none;
}
a:link, a:visited, a:active{
	text-decoration:none;
	font-size:20px;
	color:white;
}


/* Homepage-Mobile*/


.container-box{
    width: 100%;
    height: 100vh;
    background-color: black;
}

.container-header{
    display: grid;
    grid-template-columns: (35% 35% 30%);
    place-items: center;
    
}

.foto-perfil{
    width: 400px;
    height: 85vh;
    grid-column: 1/2;
    background-color: blue;
    background-image: url(/Fotos/me.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 7rem;
    padding-top: 5rem;
    padding-right: 1rem;

    
}



#name{
    color: white;
    font-size: 1.6rem;
}

#description{
    position: absolute;
    bottom:1rem;
    text-align: center;
    width: 90%;
    color:white;
    margin-left: 1rem;
    font-size: 1.2rem;
    padding-bottom:1.5rem ;
}


.fa-brands{
    font-size: 3rem;
    color:white;
    margin-top:1.5rem;
    margin-left: 4rem;
}
    

.nav{
    grid-column: 3/4;
    grid-row: 2/3;
    margin-right: 1rem;
}

#icons-position{

    grid-column: 1 / 4;
    padding-bottom: 2rem;
    place-items: center;
}


ul{
    
    font-size: 1.3rem;
}

li{
    padding-bottom: 3.5rem;
}

@media screen and (max-width: 300px){

    .foto-perfil{
        display: none;

    }

    .nav{
        grid-column: 1/2;
       
    }

    nav ul li{
        display: inline-block;
        padding: 0;
        background-color: blueviolet;
        
    }

    #icons-position{
        grid-column: 1 / 2;
    }

  

}

@media screen and (min-width: 350px){

    .foto-perfil{
        width: 100%;
        height: 50vh;
        background-color: blueviolet;
        font-size: .5;

    }

    .fa-brands{
      
        margin-left: 2rem;
        font-size: 2rem;
        
  
      }
  

}


@media screen and (min-width: 768px){

    .fa-brands{
      
      margin-left: 8rem;
      font-size: 3rem;

    }

    #description{
      
        
        width: 50%;
        font-size: 1rem;
        bottom:5rem;

    }

    .foto-perfil{
        width: 400px;
        height: 80vh;
        background-color: blueviolet;

    }

}
   




/*Curriculo mobile slide1*/

.container-box2{
    width: 100%;
    height: 100vh;
    background-color: black;
}
.carousel-inner{
    border-top: .5rem solid gray;
    height: 100vh;
 
} 
.carousel-indicators{
    bottom: 15rem;

}

.kommunikation, .teamwork,
.resilienz, .lernwillig{
    background-color: rgba(255, 255, 255, 0.664);
    width: 50%;
    height: 1.5rem;
    border: 2px solid white;
    margin-bottom: 1rem;
    color: white;
}

.infos{
    text-align: center;
    margin-top: 2rem;
    color: gray;
}

.infos div{
    display: inline-block;
    font-size: 1.2rem;
    margin-left: .5rem;
    
}

.infos div:nth-child(2)::before{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\e53a";
    font-size: 1.5rem;

}
.infos div:nth-child(3)::before{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\e4e1";
    font-size: 1.5rem;

}

.infos div:nth-child(4)::before{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f015";
    font-size: 1.5rem;

}


#skill, h2{
    margin-top: 2rem;
    display: grid;
    place-items: center;
    color: gray;

}

.sub-title{
    padding-top: 2rem;
    color: gray;

}

#hobbies{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;

}

#hobbies img{
    width: 150px;
    transition: all 1s;
    margin-left: .5rem;
}

#hobbies img:hover {
    width: 200px;
    height: 200px;
 

}


#hobbies p{
    background-color: rgba(128, 128, 128, 0.4);
    text-align: center;
    font-weight: bold;
    color:green;
  
}

.yoga{
    display: none;
}

@media screen and (min-width: 768px){

    .sub-title{
    
      font-size: 1.5rem;
      padding-top: 1rem;

    }

    .yoga{
        display: block;
    }

    .kommunikation, .teamwork,
    .resilienz, .lernwillig{
    
    width: 35%;

}


}

/* slide 2*/

.berufe{
    color: gray;
    margin:0 1.5rem;
 
  
}

.berufe ul{
    list-style-type: none;
   
}

.berufe ul li{
    padding: 0;
    color: white;
    padding-bottom: .5rem;

    
}

li span{
    color: gray;
}

li span:before{
    content: "|";
    transition: all 1s;
}

.berufe li span>p{
    font-style: italic;
}



/*Terceiro slide */

.education{
  display: flex;
  justify-content: space-around;
}

.education img {
    width: 150px;
    transition: all 1s;
    margin-left: .5rem;
}

.education img:hover {
    width: 200px;
    height: 200px;
 

}

.dci img{
    width: 150px;
    transition: all 1s;
    margin-left: .5rem;
}

.dci img:hover {
    width: 200px;
    height: 200px;
 

}



@media screen and (max-width: 600px){

 .education img{
    width: 100px;
    height: 100px;
    padding-left: 2rem;
    margin-top: 2rem;
 }

 .school{
    display: none;
    grid-column: 1/2;
 }

 .education ul li{
     padding:0

 }

}


.education img{
    width: 170px;
    height: 150px;
    padding: 0;
    margin-left: 2rem;
    
}


.education ul li{
    margin-left: 2rem;
    padding: 0;
   
}

.dci{
    margin-top: 2rem;
    margin-left: 4rem;
    display: inline-block;
    padding: 0;
}

.dci-position{
    position: absolute;
    bottom: 10px;
    left: 17rem;
}

.dci-position ul li{

    padding: 0;
}



/*Kontakt*/

.container-box3{
    width: 100%;
    height: 90vh;
    background-color: black;
    border-top: .5rem solid gray;
    display: grid;
    justify-content: center;
    padding-top: 10rem;
}

legend{
    color:rgb(9, 9, 88);
    font-weight: bold;
}
.personal-data label{
  display: block;
  width: 100%;
  padding: 5px;
  font-weight: bold;
  color:gray;
}

.personal-data input {
  width: 100%;

}

textarea {
  width: 100%;
  resize: vertical;
  line-height: 1.8;
}



section> div {
    display: inline-block;
}


.button{
    background-color:rgb(9, 9, 88);;
    color:white;
    padding:10px;
    border: 1px olid #00bc00;
    border-radius: 7.5px;
    margin-top: 10px;
    width: 100%;
    
}

.option select{
    width: 100%;
}

footer div{
    background-color: rgb(9, 9, 88);
    height: 3rem;
    padding-top: .5rem;
 
    

}

footer div p{
    color:white;
    text-align: center;
}