*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/*Formatacao de Fonte*/

h1, h2, h3, h4, h5{
    font-family: 'Playfair Display', serif;
   
}

ul li{
    list-style: none;
}
a:link, a:visited, a:active{
	text-decoration:none;
	font-size:20px;
	color:white;
}


/* Primeira Pagina*/


.container-box{
    width: 100%;
    height: 100vh;
    background-color: black;
}

.container-header{
    display: grid;
    grid-template-columns: (35% 35% 30%);
    place-items: center;
    
}

.foto-perfil{
    width: 400px;
    height: 85vh;
    grid-column: 1/2;
    background-color: blue;
    background-image: url(/Fotos/me.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 7rem;
    padding-top: 5rem;
    padding-right: 1rem;

    
}



#name{
    color: white;
    font-size: 1.6rem;
}

#description{
    position: absolute;
    bottom:1rem;
    text-align: center;
    width: 90%;
    color:white;
    margin-left: 1rem;
    font-size: 1.2rem;
    padding-bottom:1.5rem ;
}


.fa-brands{
    font-size: 3rem;
    color:white;
    margin-top:1.5rem;
    margin-left: 4rem;
}
    

.nav{
    grid-column: 3/4;
    grid-row: 2/3;
    margin-right: 1rem;
}

#icons-position{

    grid-column: 1 / 4;
    padding-bottom: 2rem;
    place-items: center;
}


ul{
    
    font-size: 1.3rem;
}

li{
    padding-bottom: 3.5rem;
}

@media screen and (max-width: 350px){

    .foto-perfil{
        display: none;

    }

    .nav{
        grid-column: 1/2;
       
    }

    nav ul li{
        display: inline-block;
        padding: 0;
        background-color: blueviolet;
        
    }

    #icons-position{
        grid-column: 1 / 2;
    }

    .fa-brands{
        font-size: 2rem;
        margin-left: 1rem;
        
    }

    #description{
       
        padding-bottom:15rem ;
    }
        
  

}

@media screen and (min-width: 351px){

    .foto-perfil{
        width: 100%;
        height: 50vh;
        background-color: blueviolet;
        font-size: .5;

    }

    .fa-brands{
      
        margin-left: 2rem;
        font-size: 2rem;
        
  
      }

      #description{
      
        padding-bottom:6rem ;
    }
  

}


@media screen and (min-width: 768px){

    .fa-brands{
      
      margin-left: 8rem;
      font-size: 3rem;

    }

    #description{
      
        
        width: 50%;
        font-size: 1rem;
        bottom:5rem;

    }

    .foto-perfil{
        width: 400px;
        height: 80vh;
        background-color: blueviolet;

    }

}
   




/*Curriculo mobile slide1*/

.container-box2{
    width: 100%;
    height: 100vh;
    background-color: black;
}
.carousel-inner{
    border-top: .5rem solid gray;
    height: 100vh;
 
} 
.carousel-indicators{
    bottom: 15rem;

}

.kommunikation, .teamwork,
.resilienz, .lernwillig{
    background-color: rgba(255, 255, 255, 0.664);
    width: 50%;
    height: 1.5rem;
    border: 2px solid white;
    margin-bottom: 1rem;
    color: white;
}

.infos{
    text-align: center;
    margin-top: 2rem;
    color: gray;
}

.infos div{
    display: inline-block;
    font-size: 1.2rem;
    margin-left: .5rem;
    
}

.infos div:nth-child(2)::before{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\e53a";
    font-size: 1.5rem;

}
.infos div:nth-child(3)::before{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\e4e1";
    font-size: 1.5rem;

}

.infos div:nth-child(4)::before{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f015";
    font-size: 1.5rem;

}


#skill, h2{
    margin-top: 2rem;
    display: grid;
    place-items: center;
    color: gray;

}

.sub-title{
    padding-top: 2rem;
    color: gray;

}

#hobbies{

    display: flex;
    justify-content: space-around;
    margin: auto 5rem;

}

#hobbies img{
    width: 120px;
    transition: all 1s;
    margin-left: 5rem;
}

#hobbies img:hover {
    width: 150px;
    height: 150px;
 

}


#hobbies p{
    
    text-align: center;
    font-weight: bold;
    color:green;
  
}


@media screen and (max-width: 768px){


    #hobbies{
        grid-template-rows:20% 20% 20% 20% ;
        grid-template-columns: 100%;
    }
    .sub-title{
    
      font-size: 2rem;
      padding-top: 1rem;

    }

    .kommunikation, .teamwork,
    .resilienz, .lernwillig{
    
        width: 35%;

    }
        .yoga{
         display: none;
    }

        #hobbies img{
        width: 150px;
        transition: all 1s;
        margin-left: 5rem;
    }

        #hobbies img:hover {
         width: 120px;
        height: 120px;
 

    }

        #hobbies img{
            margin-bottom:2rem;
        }



}

@media screen and (max-width: 500px){

    #hobbies{
        display: grid;
        justify-content: center;
    }

    .yoga{
        display: none;
    }


    #hobbies img{
        width: 100px;

    }

    .garten, .volleybol, .lesen{
        margin-bottom: 10rem;

    }
}

/* slide 2*/

.berufe{
    color: gray;
    margin:0 1.5rem;
 
  
}

.berufe ul{
    list-style-type: none;
   
}

.berufe ul li{
    padding: 0;
    color: white;
    padding-bottom: .5rem;

    
}

li span{
    color: gray;
}

li span:before{
    content: "|";
    transition: all 1s;
}

.berufe li span>p{
    font-style: italic;
}


@media screen and (max-width: 768px){
    .berufe{
        margin:auto 6rem;
        
    }
    
    .berufe ul li{
        padding:0;
        
    }
   
}


/*Terceiro slide */

.education{
  display: flex;
  justify-content: space-around;
  margin:auto 5rem;
  padding: 0;
}

.education img {
    transition: all 1s;
    margin-left: .5rem;
}

.education img:hover {
    width: 200px;
    height: 200px;
 
}

.dci div img{
    width: 150px;
    transition: all 1s;
    margin-left: 5.5rem;

}

.dci div img:hover{
    width: 200px;
    height: 200px;
}


.education img{
    width: 200px;
    height: 150px; 
}


.education ul li{
    margin-left: 2rem;
    padding: 0;
   
}

.dci{
  
    margin-left: 4rem;
    display: inline-block;
    padding: 0;
}

.dci-position{
    position: absolute;
    left: 20rem;
    bottom:.1rem;
    
}



.dci-position ul li{

    padding: 0;
}

@media screen and (max-width: 550px){

    .education{
        padding-top: 50px;
      }
      
    .dci-position{
        bottom: 0;
    }  
 
    .dci img{
        width: 200px;
    }
   
    .school{
       display: none;
       grid-column: 1/2;
    }
   
    .education ul li{
        padding:0
   
    }
   
   }

   @media screen and (min-width: 768px){

    .education{
        padding-top: 50px;
      }
      
    .school{
       display: block;
      
    }
   
    .education ul li{
        padding:0
   
    }
   
   }



/*Kontakt*/

.container-box3{
    width: 100%;
    height: 100vh;
    background-color: black;
    border-top: .5rem solid gray;
    display: grid;
    justify-content: center;
    padding-top: 5rem;
    
}

legend{
    color:rgb(9, 9, 88);
    font-weight: bold;
}
.personal-data label{
  display: block;
  width: 100%;
  padding: 5px;
  font-weight: bold;
  color:gray;
}

.personal-data input {
  width: 100%;

}

textarea {
  width: 100%;
  resize: vertical;
  line-height: 1.8;
}



.button{
    background-color:rgb(9, 9, 88);;
    color:white;
    padding:10px;
    border-radius: 7.5px;
    margin-top: 10px;
    width: 100%;
    
    
}

.option select{
    width: 100%;
}

footer div{
    background-color: rgb(9, 9, 88);
    height: 3rem;
    padding-top: .5rem;
 
    

}

footer div p{
    color:white;
    text-align: center;
}

footer div span::before{
    
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f0e0";
    font-size: 1rem;

 
}